# ***Assignment:-2***
# ***Theoritical Questions:-***

**1) What are data structures, and why are they important?**

**Ans:-** A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose. Data structures make it easy for users to access and work with the data they need.It made data handelling very easy and helps to understand complex data. That is why data structure is very important.


**2) Explain the difference between mutable and immutable data types with examples.**

**Ans:-** The main difference between mutable and immutable data types is that mutable data types can be changed after they are created, while immutable data types cannot:

**Mutable Data Type :-** A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set.

**Immutable Data Type :-** An immutable data type is one in which the values cancannot be changed or altered.
Example: String and Tuples.

**3) What are the main differences between lists and tuples in Python?**

**Ans:-** There are many difference between lists and tuples but the key difference is :-

**1]** Lists are mutable whereas tuples are immutable.
(Mutable:-we can change value after declaration of variable)
(Immutable:- we cannot change the value of variable once it declared)

**2]**Tuples are more memory efficient than lists.

**4) Describe how dictionaries store data.**

**Ans:-** A Python dictionary is a data structure that stores the value in key: **value pairs**. Values in a dictionary can be of any data type and can be duplicated, whereas keys cannot be repeated and it is immutable.
we can create dictinories using **dict()** command/constructor.

**5) Why might you use a set instead of a list in Python?**

**Ans:-** Set is a one of the type of built in data types just as a lists,tuples and dictionary.Sets are used to store multiple items in a single variable.Sets are fasther than lists.Also set is a collection which is unordered.Sets are complex but still it is usefull as sets are dynamic, so there is no error of overflowing of the set.

**6) What is a string in Python, and how is it different from a list?**

**Ans:-** strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes** ('')** or double quotes **(“”)** .Whereas A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).
The lists are mutable sequences while strings are immutable.Also strings store in single type of elements all characters while lists can store elements belonging to different types.

**7)  How do tuples ensure data integrity in Python?**

**Ans:-** Tuples are immutable to make sure that their contents remain constant throughout, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

**8)  What is a hash table, and how does it relate to dictionaries in Python?**

**Ans:-**  hash tables store key-value pairs and the key is generated using a hash function. Hash tables in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function.

**9)  Can lists contain different data types in Python.**

**Ans:-**  Yes, lists can contain various data types in single lists like integer,strings,float,boolean,etc.
Also lists are mutable so we can also change the data type of a particular variable.

**10)  Explain why strings are immutable in Python.**

**Ans:-** Strings are immutable (we cannot change value of variable).

**Memory Efficiency:** Since immutable objects cannot change their value, Python can optimize memory usage. Reusing the same immutable object across the program whenever possible reduces memory overhead.

**Thread Safety:** Immutability provides thread safety.

**11)  What advantages do dictionaries offer over lists for certain tasks?**

**Ans:-** Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.It makes complex data simple and understanding.

**12)  Describe a scenario where using a tuple would be preferable over a list.**

**Ans:-** if we need an immutable collection where the elements wonnot need to change after creation then we can use tuples over lists. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is important.

**13)  How do sets handle duplicate values in Python?**

**Ans:-** Items of a set are immutable ( we cannot change the elements) , and it donot duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, so they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

**14)  How does the “in” keyword work differently for lists and dictionaries?**

**Ans:-** In any hashtable implementation, if you override the equality method you must override the hash method. The "in" operator for lists just checks equality with every element of the list, which the "in" operator for sets first hashes the object we are looking for, checks for an object in that slot of the hash table, and then checks for equality if there is anything in the slot.

**15) Can you modify the elements of a tuple? Explain why or why not.**

**Ans:-** No, we cannot modify or change the elements of a tuple because tuples are "immutable," means once created, their variables cannot be changed, added, or removed; attempting to change the variable will result in an error.

**16) What is a nested dictionary, and give an example of its use case?**

**Ans:-**  A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dict_1 and dict_2 . They are two dictionary each having own key and value.
for example:- the person has 2 child in a family so they can create a dictionary under a dictionary kust like a family tree.

**17)Describe the time complexity of accessing elements in a dictionary.**

**Ans:-** dictionary also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.Using the index value, we can access the array elements in constant time. So the time complexity is O(1) for accessing an element in the array.

**18) In what situations are lists preferred over dictionaries?**

**Ans:-** Lists are used to store the data, which should be ordered and sequential. It stores large amounts of data for easy and quick access. The indices of lists in python start from zero and are of integer type. The keys in dictionaries are used to access key-value pairs and they can be of any type also lists are mutable so we can change the value of element and then tranfer this into any datatype means we can also change data type of a particular variable.In list we can store any data type in the same lists.

**19)  Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Ans:-**  When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change. Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.dictionaries are unordered because we can store duplicate elements in  that but it will considered as a one. so it is quite complex and hard to understand.

**20) Explain the difference between a list and a dictionary in terms of data retrieval.**

**Ans:-** A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.Data retrieval refers to the process of accessing information stored in databases to meet specific needs. we can access data using The $ operator from list and get () methodfrom dictionary.

# ***Practical Questions:-***

In [ ]:
#1) Write a code to create a string with your name and print it

In [ ]:
my_name = "Lisha"
print(my_name)
type(my_name)

Lisha

str

In [ ]:
#2) Write a code to find the length of the string "Hello World".
a="Hello World"

len(a)

11

In [ ]:
#3)Write a code to slice the first 3 characters from the string "Python Programming.

In [ ]:
string = "Python Programming"
f3c = string[:3]
print(f3c)

Pyt

In [ ]:
#4) Write a code to convert the string "hello" to uppercase.
a="hello"
a.upper()

'HELLO'

In [ ]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
#6) Write a code to create a list with numbers 1 to 5 and print it.
lis = [1, 2, 3, 4, 5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
abc = ['a', 'b', 'c', 'd']
second_element = abc[1]
print(second_element)

b

In [ ]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].
xyz = [10, 20, 30, 40, 50]
xyz.reverse()
print(xyz)

[50, 40, 30, 20, 10]

In [ ]:
#11) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
mt = ('apple', 'banana', 'cherry')
first_element = mt[0]
print(first_element)

apple

In [ ]:
#13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
count = tup.count(2)
print(count)

3

In [ ]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tupl = ('dog', 'cat', 'rabbit')
index = tupl.index('cat')
print(index)

1

In [ ]:
#15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
my_tuple = ('apple', 'orange', 'banana')
element = 'banana'
if element in my_tuple:
    print(f"{element} is in the tuple.")
else:
    print(f"{element} is not in the tuple.")

banana is in the tuple.

In [ ]:
#16)Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#17) Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [ ]:
#18) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#19)  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tup = ('apple', 'banana', 'cherry')
first_element = my_tup[0]
print(first_element)

apple

In [ ]:
#20) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
count = tup.count(2)
print(count)

3

In [ ]:
#21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
index = tup.index('cat')
print(index)

1

In [ ]:
#22)  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tup = ('apple', 'orange', 'banana')
element = 'banana'
if element in my_tup:
    print(f"{element} is in the tuple.")

banana is in the tuple.

In [ ]:
#23)  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#24)  Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}